## Diversifiable and Non-Diversifiable Risk of a Portfolio

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data

                  MSFT        AAPL
Date
2007-01-03   21.829721    2.565972
2007-01-04   21.793175    2.622925
2007-01-05   21.668888    2.604246
2007-01-08   21.880896    2.617107
2007-01-09   21.902832    2.834510
...                ...         ...
2021-12-17  323.799988  171.139999
2021-12-20  319.910004  169.750000
2021-12-21  327.290009  172.990005
2021-12-22  333.200012  175.639999
2021-12-23  334.690002  176.279999

[3772 rows x 2 columns]

In [6]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3772 entries, 2007-01-03 to 2021-12-23
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MSFT    3772 non-null   float64
 1   AAPL    3772 non-null   float64
dtypes: float64(2)
memory usage: 88.4 KB

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [3]:
sec_return=np.log(sec_data/sec_data.shift(1))

In [4]:
sec_return

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2021-12-17 -0.003391 -0.006523
2021-12-20 -0.012086 -0.008155
2021-12-21  0.022807  0.018907
2021-12-22  0.017896  0.015203
2021-12-23  0.004462  0.003637

[3772 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [5]:
weights=np.array([0.5,0.5])

In [6]:
weights[0]

0.5

In [7]:
weights[1]

0.5

Portfolio Variance:

In [8]:
pfolio_var=np.dot(weights.T,np.dot(sec_return.cov()*250,weights))
pfolio_var

0.06977154068456062

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [9]:
MSFT_var_a = sec_return[['MSFT']].var()*250
MSFT_var_a

MSFT    0.07787
dtype: float64

In [10]:
AAPL_var_a=sec_return[['AAPL']].var()*250
AAPL_var_a

AAPL    0.102768
dtype: float64

Or:

In [11]:
MSFT_var_a = sec_return['MSFT'].var()*250
MSFT_var_a

0.07786979242877844

In [12]:
AAPL_var_a = sec_return['AAPL'].var()*250
AAPL_var_a

0.1027676728124677

Calculating Diversifiable Risk:

In [13]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.024612174374249087

Calculating Non-Diversifiable Risk:

In [14]:
n_dr_1=pfolio_var-dr
n_dr_1

0.04515936631031153

*****

### Calculating Portfolio Variance

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

In [16]:
weights2=np.array([0.2,0.8])

Portfolio Variance:

In [17]:
pfolio_var=np.dot(weights2.T,np.dot(sec_return.cov()*250,weights2))
pfolio_var

0.08463789389664986

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [20]:
dr2=pfolio_var-(weights2[0]**2*MSFT_var_a)-(weights2[1]**2*AAPL_var_a)
dr2

0.01575179159951938

Calculating Non-Diversifiable Risk:

In [23]:
n_dr_2=pfolio_var-dr2
n_dr_2

0.06888610229713048